In [3]:
%matplotlib inline

import os
from collections import Counter, OrderedDict
import numpy as np
import pandas as pd
from operator import itemgetter
import matplotlib.pyplot as plt
from astropy.table import Table
import multiprocessing
from cesium.time_series import TimeSeries
import cesium.featurize as featurize
from tqdm import tnrange, tqdm_notebook
import sklearn 
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
import seaborn as sns

In [4]:
df_training_ts = pd.read_csv('/Users/youssefberrada/Documents/GitHub/PLAsTiCC-Astronomical-Classification/data/training_set.csv')
df_training_md = pd.read_csv('/Users/youssefberrada/Documents/GitHub/PLAsTiCC-Astronomical-Classification/data/training_set_metadata.csv')

In [5]:
df_training_ts.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [6]:
df_training_md.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [7]:
df_training_md.target.unique()

array([92, 88, 42, 90, 65, 16, 67, 95, 62, 15, 52,  6, 64, 53])

In [16]:
df_training_ts.flux.describe()

count    1.421705e+06
mean     2.468855e+01
std      3.684506e+03
min     -1.149388e+06
25%     -2.789418e+00
50%      7.331990e-01
75%      8.830932e+00
max      2.432809e+06
Name: flux, dtype: float64